body
{
    font-family: Poppins;
    color:  #a4a4a4;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

#location ul.opening-ul li span:nth-child(2)
{
    float: right;
    min-width: auto;
    margin-right:0;
}

a {
    cursor: pointer;
}
a:hover
{
    text-decoration: none;
}
.read-more:hover
{
    color:#e30313;
}

.header-wave-bg
{
    
    /* background: url(../images/wave-bottom.png);
    padding: 10px 0 25px;
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: bottom left; */
    background: url(../images/wave-bottom.png);
    padding: 10px 0 5px;
    position: absolute;
    width: 100%;
    background-position: top;
    line-height: 30px;
    -webkit-transition: all .65s ease-in-out;
    transition: all .65s ease-in-out;
}
.wave-bg-bottom
{

    background: url(../images/wave-header.png);
    padding: 50px 0 15px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: top center;
    top: 0px;
    margin-top: -135px;

}

.slider-bg
{
    background: url('../images/slider-bg.jpg');
    background-size:cover;
    background-position: center bottom;

}
.slider-text
{
    padding: 250px 0 250px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 33px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 200px 0 270px;
}
.logo
{
    /* position: relative;
    top: 20px; */
    position: absolute;
    top: 10px;
    left: 29%;
}
.top-text
{
    font-family: Poppins;
color:  #7c7b7b;
font-size: 13px;
font-weight: 500;
line-height: 15px;
text-align: center;
margin-left: 5px;
}
.top-text.right
{
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}
.header-wave-bg img
{
    vertical-align: unset;
}
.header-left img
{
    vertical-align: middle;
}
.bold-text
{
color:  #414241;
font-size: 20px;
font-weight: 700;
line-height: 23px;
text-align: left;

}
.light-text
{
    color:  #414241;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
}

.bold-text.red
{
    color:  #e30313;
}
.read-more
{
    margin-top:10px;
    color:  #6d6d6c;
    font-size: 10px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}
.arrow-right-header-bottom
{
    position: absolute;
    right: 0px;
    top: 60px;
}
.bottom-easy-cart
{
    position: relative;
    top: -60px;
    max-width: 100%;
}
.btn
{
    font-size: 11px;
    border-radius: 2px;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-family: Poppins;
    border:2px solid;
    text-transform: uppercase;
}
.btn-style-one
{
    background-color: #e30313;
    color: #fff;
    margin-right: 7px;
    border-color: #e30313;
}
.btn-style-one:hover
{
    color: #e30313;
    border-color: #e30313;
    background:#ffffff;
}
.btn-style-two
{
    color:  #494948;
    background-color:  #d9dad9;
    border-color:  #d9dad9;
}
.btn-style-two:hover
{
    color: #e30313;
    border-color: #e30313;
    background:#ffffff;
}
.button-header-bottom a.btn
{
    width: 48%;
}
.button-header-bottom
{
    margin-top: 75px;
}

.about-bg.bg-dark
{
    background-color: #383838 !important;
}

.about-text p
{
    font-family: Poppins;
    color:  #a4a4a4;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 0;
}
.about-bg
{
    padding: 40px 0;
}
.title-heading
{
    color:  #414241;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}
.location-section
{
    padding: 40px 0;
}

#location .nav-pills .nav-link
{
    border-radius: .25rem;
    border-color: #e30313;
    border: 2px solid #e30313;
    color: #494948;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
}

#location .nav-pills .nav-link.active, #location .nav-pills .show>.nav-link
{
    color: #fff;
    background-color: #e30313;
}
#location .nav-link
{
    padding: .5rem 2.5rem;
}
ul
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
ul.opening-ul
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: justify;
    margin-bottom: 1.6rem;
}
#location .tab-content
{
    width: 55%;
    margin: 0 auto;
}
#location ul.opening-ul li
{
    text-align: left;
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 17px;
}
#location ul.opening-ul li span
{
    margin-right: 30px;
    min-width: 120px;
    display: inline-block;
}
.tab-sub-heading
{
    font-family: Poppins;
    color: #494948;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.map-btn
{
    font-size: 9px;
    text-transform: initial;
    padding: 0.3rem 1rem;
    float: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d9dad9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }

  .sidenav a:first-child
  {
    border:0;
  }
  
  .sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #494848;
    display: block;
    transition: 0.3s;
    font-weight: 400;
    border-bottom: 1px dashed #b7b7b7;
  }
  
  .sidenav a:hover {
    color:#e30313;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .modal-title
  {
    font-size: 1rem;
  }

  @media screen and (min-width:1200px)
  {
    .top-text
    {
        font-size: 14px;
        line-height: 14px;
    }
    .bold-text,.light-text
    {
        font-size: 26px;
        line-height: 26px;
    }
    .read-more
    {
        font-size:12px;
    }
    .about-text p
    {
        font-size: 13px;
        line-height: 20px;
    }
    #location .nav-pills .nav-link
    {
        font-size:13px;
    }
    .btn
    {
        font-size: 12px;
    }
    .map-btn
    {
      font-size:12px;
    }
    .title-heading
    {
        font-size: 24px;
        line-height: 30px;
    }
    .tab-sub-heading
    {
        font-size: 13px;
    }
    #location ul.opening-ul li span , #location ul.opening-ul li
    {
        font-size: 12px;
    }
    .slider-text
    {
        font-size: 36px;
    }
  }

  @media screen and (max-width:1024px) and (orientation: landscape)
  {
    .slider-bg {
        padding: 60px 0 !important;
    }

  }   
  @media screen and (max-width:1024px)
  {
      #location .tab-content
      {
        width: 75%;
      margin: 0 auto;
      padding: 10px;
      }
      .hidediv
      {
        display: block;
        max-width: 24%;
      }
      .btn-style-one
      {
          margin-right: 7px;
      }
      .button-header-bottom {
          margin-bottom: -10px;
      }
      .header-bottom.wave-bg-bottom .col.header-right
      {
          padding: 0 20px;
      }
      .header-wave-bg {
        padding: 10px 0 15px;
        background-size: cover;
        background-position: bottom left;
        line-height: 0;
      
      }
      .btn-style-one , .btn-style-two
      {
          font-size: 10px;
      }
      .logo
      {
        top: 10px;
        position: relative;
        width: 150px !important;
        left: 0;
      }
      .header-wave-bg img
      {
        width: 13px;
        vertical-align: middle;
      }
      header .col
      {
          padding: 5px 10px;
      }
      .top-text
      {
        line-height: 12px;
        vertical-align: middle;
      }
      .slider-text
      {
        padding: 150px 0 125px;
      }
      .arrow-right-header-bottom
      {
        position: absolute;
        right: 0px;
        top: 90px;
      }
      .bottom-easy-cart
      {
          position: relative;
          top: -30px;
          max-width: 100%;
      }
      .header-bottom.wave-bg-bottom .col
      {
          padding: 0 5px;
      }
  
      .wave-bg-bottom
      {
        margin-top: -60px;
        padding: 5px 0;
        background-size: 100%;
      }
      .slider-bg
      {
          padding: 20px 0;
      }
      .bottom-text
      {
        margin-top: 40px;
        margin-left: 15px;
      }
      .iframe-map
      {
          height: 300px !important;
      }
      
  }


  @media screen and (max-width:768px)
  {

    .slider-bg
    {
        background: url(../images/slider-bg-mobile.png);
        background-size: cover;
        background-position: center right;
    }

    .fixed-sticky
    {
        position: absolute !important;
    }
      #location .tab-content
      {
        width: 75%;
      margin: 0 auto;
      padding: 10px;
      }
      .hidediv
      {
        display: block;
        max-width: 24%;
      }
      .btn-style-one
      {
          margin-right: 7px;
      }
      .button-header-bottom {
          margin-bottom: -10px;
      }
      .header-bottom.wave-bg-bottom .col.header-right
      {
          padding: 0 20px;
      }
      .header-wave-bg {
        padding: 10px 0 5px;
        background-size: cover;
        background-position: bottom left;
      
      }
      .btn-style-one , .btn-style-two
      {
          font-size: 10px;
      }
      .logo
      {
        top: 10px;
        position: relative;
        width: 150px !important;
        /* left: 0; */
      }
      .header-wave-bg img
      {
        width: 20px;
        vertical-align: middle;
      }
      header .col
      {
          padding: 5px 10px;
      }
      .top-text
      {
        line-height: 12px;
        vertical-align: middle;
      }
      .slider-text
      {
        padding: 150px 0 125px;
      }
      .arrow-right-header-bottom
      {
        position: absolute;
        right: 0px;
        top: 90px;
      }
      .bottom-easy-cart
      {
          position: relative;
          top: -30px;
          max-width: 100%;
      }
      .header-bottom.wave-bg-bottom .col
      {
          padding: 0 5px;
      }
  
      .wave-bg-bottom
      {
        margin-top: -60px;
        padding: 5px 0;
        background-size: 100%;
      }
      .slider-bg
      {
          padding: 20px 0;
      }
      .bottom-text
      {
        margin-top: 40px;
        margin-left: 15px;
      }
      .iframe-map
      {
          height: 300px !important;
      }
      
  }


  @media screen and (max-width:767px)
  {
      #location .tab-content
      {
        width: 100%;
      margin: 0 auto;
      padding: 10px;
      }
      .hidediv
      {
        display: none;
        max-width: 0;
      }
      .btn-style-one
      {
          margin-right: 7px;
      }
      .button-header-bottom {
        margin-bottom: -70px;
        margin-top: 0;
      }
      .header-bottom.wave-bg-bottom .col.header-right
      {
          padding: 0 20px;
      }
      .header-wave-bg {
        padding: 10px 0 5px;
        background-size: cover;
        background-position: bottom left;
      
      }
      .btn-style-one , .btn-style-two
      {
          font-size: 10px;
      }
      .logo
      {
        top: 10px;
        position: relative;
        width: 150px !important;
        /* left: 0; */
      }
      .header-wave-bg img
      {
        width: 20px;
        vertical-align: middle;
      }
      header .col
      {
          padding: 5px 10px;
      }
      .top-text
      {
        line-height: 12px;
        vertical-align: middle;
      }
      .slider-text
      {
        padding: 150px 0 125px;
      }
      .arrow-right-header-bottom
      {
        position: absolute;
        right: 0px;
        top: 90px;
      }
      .bottom-easy-cart
      {
          position: relative;
          top: -30px;
          max-width: 100%;
      }
      .header-bottom.wave-bg-bottom .col
      {
          padding: 0 5px;
      }
  
      .wave-bg-bottom
      {
        margin-top: -60px;
        padding: 5px 0;
        background-size: 100%;
      }
      .slider-bg
      {
          padding: 20px 0;
      }
      .bottom-text
      {
        margin-top: 40px;
        margin-left: 15px;
      }
      .iframe-map
      {
          height: 300px !important;
      }
      
  }
  
  @media screen and (min-width:480px) and (max-width:639px)
  {
      #location .tab-content
      {
      width: 100%;
      margin: 0 auto;
      padding: 10px;
      }
      .hidediv
      {
          display: none;
      }
      .btn-style-one
      {
          margin-right: 7px;
      }
      .map-btn
      {
        right: 0 !important;
      }
      .button-header-bottom {
          margin-top: 25px;
          margin-bottom: -19px;
          margin-bottom: -70px;
      }
      .header-bottom.wave-bg-bottom .col.header-right
      {
          padding: 0 20px;
      }
      .header-wave-bg {
        padding: 5px 0 0px;
        background-size: cover;
        background-position: bottom left;
      
      }
      .btn-style-one , .btn-style-two
      {
          font-size: 10px;
      }
      .logo
      {
        top: 10px;
        /* position: absolute; */
        width: 150px !important;
        left: 0;
      }
      .header-wave-bg img
      {
        width: 20px;
        vertical-align: middle;
      }
      header .col
      {
          padding: 5px 10px;
      }
      .top-text
      {
        line-height: 12px;
        vertical-align: middle;
      }
      .slider-text
      {
        padding: 130px 0 80px;
      }
      .arrow-right-header-bottom
      {
        position: absolute;
        right: 30px;
        top: 90px;
      }
      .bottom-easy-cart
      {
          position: relative;
          top: -8px;
          max-width: 100%;
      }
      .header-bottom.wave-bg-bottom .col
      {
          padding: 0 5px;
      }
  
      .wave-bg-bottom
      {
          margin-top: -40px;
          padding: 0;
          background-size: 100%;
      }
      .slider-bg
      {
          padding: 20px 0;
      }
      .bottom-text
      {
          margin-top: 35px;
      }
      .iframe-map
      {
          height: 300px !important;
      }
      
  }


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
  }


@media (max-width:575px)
{
    #location .tab-content
    {
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    }
    .hidediv
    {
        display: none;
    }
    .btn-style-one
    {
        margin-right: 7px;
    }
    .button-header-bottom {
        margin-top: 25px;
        margin-bottom: -19px;
        margin-bottom: -70px;
    }
    .header-bottom.wave-bg-bottom .col.header-right
    {
        padding: 0 20px;
    }
    .header-wave-bg {
        background: url(../images/Rectangle-mobile.png);
        padding: 5px 0 5px;
        background-size: cover;
        background-position: bottom center;
    
    }
    .btn-style-one , .btn-style-two
    {
        font-size: 10px;
    }
    .logo
    {
        top: 10px;
    /* position: absolute; */
    width: 100px !important;
    left: 0;
    }
    .header-wave-bg img
    {
        width: 16px;
        vertical-align: middle;
    }
    header .col
    {
        padding: 5px 10px;
    }
    .top-text
    {
        font-size: 10px;
        line-height: 9px;
        vertical-align: middle;
    }
    .slider-text
    {
        padding: 85px 0 35px;
        font-size: 20px;
    }
    .arrow-right-header-bottom
    {
        position: absolute;
        right: 30px;
        top: 85px;
    }
    .bottom-easy-cart
    {
        position: relative;
        top: 0px;
        max-width: 100%;
    }
    .header-bottom.wave-bg-bottom .col
    {
        padding: 0 5px;
    }
    .light-text, .bold-text
    {
        line-height: 20px;
        font-size: 16px;
    }

    .wave-bg-bottom
    {
        margin-top: -40px;
        padding: 0;
        background-size: 100%;
    }
    .slider-bg
    {
        padding: 20px 0;
    }
    .bottom-text
    {
        margin-top: 30px;
        margin-left: 0;
    }
    .iframe-map
    {
        height: 200px !important;
    }
   
   
}

@media (max-width:450px)
{

    .logo
    {
        top: 10px;
        position: absolute;
        width: 100px !important;
        left: 0;
    }
    .header-wave-bg {
        background: url(../images/Rectangle-mobile.png);   
        padding: 5px 0 20px;
        background-size: cover;
        background-position: bottom center;
    
    }
    .light-text, .bold-text
    {
        font-size: 15px;
    }
    .bottom-text {
        margin-top: 20px;
        margin-left: 0;
    }
    .arrow-right-header-bottom
    {
        top: 70px;
    }
    .bottom-easy-cart
    {
        top:8px;
    }
    .arrow-right-header-bottom
    {
        right:10px;
    }
    .wave-bg-bottom
    {
        margin-top: -30px;
    }
    #location .tab-content
    {
        width: 100%;
    }
    #location ul.opening-ul li span
    {
        min-width: 153px;
    }

} 


@media screen and (min-width:375px) and (max-width:620px)
{
    .map-btn
    {
        position: relative;
        right: 30px;
    }
}

@media screen and (min-width:414px) and (max-width:736px)
{
    .map-btn
    {
        position: relative;
        right: 69px; 
    }
}



@media screen and (max-width:320px)
{
    #location ul.opening-ul li span
    {
        min-width: 120px;
    }
    .arrow-right-header-bottom {
        right: 0;
    }
    .map-btn
    {
        position: relative;
        right: -6px;
    }
    
}

@media screen and (min-width:320px) and (max-width:350px)
{
    .map-btn
    {
        position: relative;
        right: 7px;
    }
}


.fixed-sticky
{
    position: fixed;
    background: #f1f1f1;
    z-index: 999;
    -webkit-transition: all .65s ease-in-out;
    transition: all .65s ease-in-out;
    box-shadow: 0px 0px 7px #cacaca;
    padding-bottom:0;
    line-height: 25px;
}
.fixed-sticky .logo
{
    position: relative;
    top: 0px;
    left: 0;
    width: 28%;

}